!!! 5
%html
  %head
    %meta(content="text/html; charset=utf-8" http-equiv="Content-Type")

    %title= page_title

    = csrf_meta_tag
    = javascript_include_tag( 'application' )
    = stylesheet_link_tag "application"

  %body

    #notice{ style: "#{'display:none' unless flash[:notice]}" }= flash[:notice]

    #navigation
      %ul
        %li= link_to 'Home', '/', class: current_page?('/') ? 'active' : nil
        %li= link_to 'Page 1', '/home/page1', class: current_page?('/home/page1') ? 'active' : nil
        %li= link_to 'Page 2', '/home/page2', class: current_page?('/home/page2') ? 'active' : nil
        %li= link_to 'Page 3 (redirects to page 1)', '/home/page3', class: current_page?('/home/page3') ? 'active' : nil

    #main
      = yield
